/* constants */
:root {
--theme-color: #b84340;
}

/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}

header, #container {
  font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 300;
  line-height: 1.6;
  font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}
footer {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1;
  font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
small {
  font-size: 0.8rem;
}

/**
 * Links 
 */
a {
  font-weight: normal;
  text-decoration: none; 
  color:var(--theme-color);
}
a:focus {
  outline: thin dotted;
}

/**
 * Headings
 */
h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}
h1 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }

/**
 * Paragraphs
 */
p {
  margin: 0 auto 1.5em auto; /* bottom margin for paragraphs */
}
p + p {

}

/**
 * Quotes & Blockquotes
 */
q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 2px solid #AFC0D2;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;  
}

/**
 * Layout styles
 */


body {
  max-width:800px;
  margin: 0 auto;  
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 2%;
  padding-right: 2%; 
}
/* background */
#bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* website content */
header, #content, footer { 
  background: rgba(0,0,10,.8); 
  padding:20px;
  color:#FFFFFF; 
  position: relative;
  z-index: 1;
}
/* rounded corners */
header {
  border-radius: 20px 20px 0 0;
}
footer {
  border-radius: 0 0 20px 20px;
}
 /* tabIndex button border*/
button:focus-visible,
a:focus-visible,
input:focus-visible {
    outline: 3px solid #ff6600;
    outline-offset: 2px;
    border-radius: 3px;
}
/* remove outline for mouse navigation */
a:active {
    outline: none;
}

/* background stuff */
.container {
	background-color: #000000;
	width: 100vw;
	height: 100vh;
}
.layer {
	width: 100vw;
	height: 100vh;
}
.fullscreen {
position: absolute;
  width: 120%;
  left: -10%;
  top: -10%;
  right: -10%;
  bottom: -10%;
}
.background {
  /* background:url(background.jpg) center center no-repeat fixed; */
  background: url(images/background/background.png) no-repeat 50% 50%;
  background-size: cover;
}
.spare-item {
	width: 50px;
	height: 50px;
	background-color: #D65DB1;
	position: relative;
	top: 50%;
	left: 50%;}
.star-1 {
	background: url(images/background/star-1.png) no-repeat 50% 50%;
  	background-size: cover;}
.star-2 {
	background: url(images/background/star-2.png) no-repeat 50% 50%;
  	background-size: cover;}
.star-3 {
	background: url(images/background/star-3.png) no-repeat 50% 50%;
  	background-size: cover;}
.star-4 {
	background: url(images/background/star-4.png) no-repeat 50% 50%;
  	background-size: cover;}  	
.bottom-1 {
	background: url(images/background/hill-1.png) no-repeat 50% 50%;
  	background-size: cover;}
.bottom-2 {
	background: url(images/background/hill-2.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-1 {
	background: url(images/background/grass-1.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-2 {
	background: url(images/background/grass-2.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-a-1 {
	background: url(images/background/grass-a-1.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-a-2 {
	background: url(images/background/grass-a-2.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-b-1 {
	background: url(images/background/grass-b-1.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-b-2 {
	background: url(images/background/grass-b-2.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-c-1 {
	background: url(images/background/grass-c-1.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-c-2 {
	background: url(images/background/grass-c-2.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-d-1 {
	background: url(images/background/grass-d-1.png) no-repeat 50% 50%;
  	background-size: cover;}
.grass-d-2 {
	background: url(images/background/grass-d-2.png) no-repeat 50% 50%;
  	background-size: cover;}

@keyframes star {
  0% {-webkit-transform: rotate(0deg) translate3d(0,0,0);
    -moz-transform: rotate(0deg) translate3d(0,0,0);
    transform: rotate(0deg) translate3d(0,0,0); }
  25% {-webkit-transform: rotate(0.75deg) translate3d(10px,-10px,0);
    -moz-transform: rotate(0.75deg) translate3d(10px,-10px,0);
    transform: rotate(0.75deg) translate3d(10px,-10px,0); }
  50% {-webkit-transform: rotate(1.5deg) translate3d(0,-20px,0);
    -moz-transform: rotate(1.5deg) translate3d(0,-20px,0);
    transform: rotate(1.5deg) translate3d(0,-20px,0); }
  75% {-webkit-transform: rotate(0.75deg) translate3d(-10px,-10px,0);
    -moz-transform: rotate(0.75deg) translate3d(-10px,-10px,0);
    transform: rotate(0.75deg) translate3d(-10px,-10px,0); }
  100% {-webkit-transform: rotate(0deg) translate3d(0,0,0);
    -moz-transform: rotate(0deg) translate3d(0,0,0);
    transform: rotate(0deg) translate3d(0,0,0); }
}
@keyframes sway {
  0% {-webkit-transform: rotate(0deg) translate3d(0,0,0);
    -moz-transform: rotate(0deg) translate3d(0,0,0);
    transform: rotate(0deg) translate3d(0,0,0); }
  25% {-webkit-transform: rotate(1deg) translate3d(5px,0,0);
    -moz-transform: rotate(1deg) translate3d(5px,0,0);
    transform: rotate(1deg) translate3d(5px,0,0); }
  50% {-webkit-transform: rotate(1.75deg) translate3d(0,0,0);
    -moz-transform: rotate(1.75deg) translate3d(0,0,0);
    transform: rotate(1.75deg) translate3d(0,0,0); }
  75% {-webkit-transform: rotate(1deg) translate3d(-5px,0,0);
    -moz-transform: rotate(1deg) translate3d(-5px,0,0);
    transform: rotate(1deg) translate3d(-5px,0,0); }
  100% {-webkit-transform: rotate(0deg) translate3d(0,0,0);
    -moz-transform: rotate(0deg) translate3d(0,0,0);
    transform: rotate(0deg) translate3d(0,0,0); }
}

.star-1, .star-2, .star-3, .star-4 {
  animation: star 18s ease-in-out infinite;
}
.grass-a-1, .grass-a-2, .grass-b-1, .grass-b-2 ,.grass-c-1, .grass-c-2, .grass-d-1, .grass-d-2 {
  animation: sway 18s ease-in-out infinite;
}

.grass-a-1 { animation-delay: 2s; }
.grass-b-1 { animation-delay: 4s; }
.grass-c-1 { animation-delay: 6s; }
.star-1 { animation-delay: 5s; }
.star-2 { animation-delay: 0.6s; }
.star-3 { animation-delay: 2.2s; }
.star-4 { animation-delay: 3s; }
  
/* logo */
.logo {
    width: clamp(100px, 40vw, 230px);
    height: auto;
    padding-bottom: 1.3em;
}

/* copy email */
.copy-btn {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--theme-color);
}

/* no blank line in list */
.marginless-list {
    list-style-type: disc;
    margin: -20px;          /* remove extra spacing */
}

/* Menu Links */
ul.main-menu {
  margin: -20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#cfd2da;
}
ul.main-menu li a:hover {
  color:#FFFFFF;
}
ul.main-menu li a.active {
  color:#FFFFFF;
  border-bottom-color:var(--theme-color);
}

/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}



